---
import Card from "@components/Card.astro";
import svgButton from "@assets/icons/icon-card-button.svg";

interface Props {
  title: string;
  category: string;
  image: any;
  imageClassProp?;
}

const { image, title, category, imageClassProp } = Astro.props;
---

<Card classProp="flex-col h-full justify-between p-6 group cursor-pointer">
  <div class="flex h-[126px] items-center justify-center">
    <img src={image.src} alt={title} class={imageClassProp} />
  </div>
  <div class="flex flex-row justify-between px-4">
    <div class="prose dark:prose-invert">
      <p
        class="mb-2 text-xs font-semibold uppercase leading-4 tracking-tight text-tertiary"
      >
        {category}
      </p>
      <h2>{title}</h2>
    </div>
    <div>
      <img
        class="opacity-20 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
        src={svgButton.src}
        width={svgButton.width}
        height={svgButton.height}
        alt="image description"
      />
    </div>
  </div>
</Card>
