---
import Card from "@components/Card.astro";
import svgButton from "@assets/icons/icon-card-button.svg";
import svgWindow from "@assets/icons/window.svg";
import svgMobile from "@assets/icons/mobile.svg";
import performance from "@assets/icons/performance.svg";
import code from "@assets/icons/code.svg";

interface Props {
  title: string;
  category: string;
}

const { title, category } = Astro.props;
---

<Card classProp="flex-col h-full justify-between p-6 group cursor-pointer">
  <div
    class="lg:px-18 flex h-[146px] items-center justify-between px-2 md:px-14 xl:px-24"
  >
    {
      [svgWindow, svgMobile, performance, code].map((svg) => (
        <img src={svg.src} width={36} height={36} alt="image description" />
      ))
    }
  </div>
  <div class="flex flex-row justify-between pl-4">
    <div class="prose dark:prose-invert">
      <p
        class="mb-2 text-xs font-semibold uppercase leading-4 tracking-tight text-tertiary"
      >
        {category}
      </p>
      <h2>{title}</h2>
    </div>
    <div>
      <img
        class="opacity-10 transition-opacity duration-300 ease-in-out group-hover:opacity-60"
        src={svgButton.src}
        width={svgButton.width}
        height={svgButton.height}
        alt="image description"
      />
    </div>
  </div>
</Card>
